<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrionTM_Web</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OrionTM_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OrionTM_Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex ">

                    <a class="nav-link text-white" asp-area="" asp-controller="ListaEnvio" asp-action="Index">Lista Envio</a>
                    <a class="nav-link text-white" asp-area="" asp-controller="Envio" asp-action="Index">Envio Pacotes</a>
                    <a class="nav-link text-white" asp-area="" asp-controller="BuscaLog" asp-action="Index">Busca Logs</a>
                    <a class="nav-link text-white" asp-area="" asp-controller="Comandos" asp-action="Index">Comandos</a>
                    <a class="nav-link text-white" asp-area="" asp-controller="Contato" asp-action="Index">Suporte</a>

                    @if(User.IsInRole("Admin"))
                    {
                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
                    }

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        @await Html.PartialAsync("_LoginParcial")
                    </div>
                  
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a>&copy; 2022 - OrionTM_Web </a>
        </div>


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
    <script src="~/js/multiselect.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#multiselect').multiselect();
    });
</script>
</html>
