@model ComandosEnvioViewModel

<h3>Envio de Comandos</h3>


<table>

    <tr>
        <td>

            @foreach (var item in Model.FilaTasks)
            {
                <tr>
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        @Html.DisplayFor(model => item.TerminalId)
                    </td>
                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        @Html.DisplayFor(model => item.DtAtualizacao)
                    </td>

                    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        @Html.DisplayFor(model => item.Status)
                    </td>
                  </tr>
            }

        </td>
    </tr>




    <tr>
        <td>
            <a class="btn btn-outline-info btn-sm" asp-action="EnvioPorTerminais" >Por Terminais</a>
            <a class="btn btn-outline-info btn-sm" asp-action="EnvioPorLocais" >Por Locais</a>
            <a class="btn btn-outline-info btn-sm" asp-action="EnvioPorLista" >Por Lista</a>
        </td>
    </tr>

</table>
