@model DetalhesEnvioViewModel


@{
    ViewData["Title"] = "Lista de Envio";
}

  
@*
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- plugin -->
<script src="https://www.virtuosoft.eu/code/bootstrap-duallistbox/bootstrap-duallistbox/v3.0.2/jquery.bootstrap-duallistbox.js"></script>
<link rel="stylesheet" type="text/css" href="https://www.virtuosoft.eu/code/bootstrap-duallistbox/bootstrap-duallistbox/v3.0.2/bootstrap-duallistbox.css">

*@<!-- Demo -->
<div class="container">
 
    <div class="row" style="margin-bottom: 40px;">
        <div class="col">
            <form asp-action="Terminais">
                <select multiple="multiple" size="10" name="duallistbox_demo1[]" title="duallistbox_demo1[]">

                    @foreach (var item in Model.Terminais)
                    {
                        <option value="@item.TerminalId">@item.Codigo</option>
                    }

                    @foreach (var item in Model.DetalheListaEnvio)
                    {
                        <option value="@item.Terminal.TerminalId" selected="selected">@item.Terminal.Codigo</option>
                    }

                </select>
                <br>
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <button type="submit" class="btn btn-primary w-100">Salvar</button>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>



