@model DetalhesEnvioViewModel


@{ViewData["Title"] = "Lista de Envio";}


<div class="container">
    <form asp-action="Terminais">
         <div class="row" style="margin-bottom: 40px;">
            <div class="col-md-5">
                <select name="terminais_from" id="multiselect" class="form-control" size="8" multiple="multiple">
                    @foreach (var item in Model.Terminais)
                    {
                        <option value="@item.TerminalId">@item.Codigo</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
            </div>
            <div class="col-md-5">
                <select name="terminais_add" id="multiselect_to" class="form-control" size="8" multiple="multiple">
                    @foreach (var item in Model.DetalheListaEnvio)
                    {
                        <option value="@item.Terminal.TerminalId">@item.Terminal.Codigo</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-10">
                <button type="submit" class="btn btn-primary w-100">Salvar</button>
            </div>
        </div>
    </form>
</div>






