@model OrionTM_Web.Models.Log


@{
    ViewData["Title"] = "Logs";
}

<h2>Logs > Incluir</h2>

<div>
    <h3 style="color: red;">@Html.ValidationMessage("Aviso")</h3>
</div>

<hr />
<div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <table class="table">
            <tr>


                <th class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

                <div class="form-group">
                     <label asp-for="Nome" class="control-label"></label>
                     <input asp-for="Nome" class="form-control" />
                     <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                             
                <br />

                <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                     <input asp-for="Descricao" class="form-control" />
                     <span asp-validation-for="Descricao" class="text-danger"></span>
                   
                </div>

                    <br />

                <div class="form-group">
                        <label asp-for="Caminho" class="control-label"></label>
                        <input asp-for="Caminho" class="form-control" />
                        <span asp-validation-for="Caminho" class="text-danger"></span>
                    </div>

                    <br />


                    <div class="form-group">
                        <div> <label asp-for="TipoArquivo" class="control-label"></label></div>
                       
                        <select name="TipoArquivo" asp-for="TipoArquivo" size="6" style="width:200px;">
                            <option value="Log">Arquivo .log</option>
                            <option value="Txt">Arquivo .Txt</option>
                            <option value="Ini">Arquivo .Ini</option>
                            <option value="Json">Arquivo .Json</option>
                             <option value="Xml">Arquivo .Xml</option>
                            <option value="Pasta">Pasta Completa</option>
                        </select>
                        
                        <span asp-validation-for="TipoArquivo" class="text-danger"></span>
                    </div>

                    <br />

                    <div class="form-group">
                        <label asp-for="DataMascara" class="control-label"></label>
                        <input asp-for="DataMascara" class="form-control" />
                        <span asp-validation-for="DataMascara" class="text-danger"></span>
                    </div>
                   

                </th>
            </tr>

        </table>
              


        <br />
        <div class="form-group">
            <input type="submit" value="Incluir" class="btn btn-primary btn-sm" />
            <a class="btn btn-secondary btn-sm" asp-action="Index">Voltar</a>
        </div>
        </form>
 </div>




