<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrionTM_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OrionTM_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Admin" asp-controller="Admin" asp-action="Index">OrionTM_Web</a>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              

                <div class="navbar-collapse collapse d-sm-inline-flex" >
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="AdminLinks" asp-action="Index">Links</a>
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="AdminLocal" asp-action="Index">Locais</a>
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="AdminModelo" asp-action="Index">Modelos</a>
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="AdminTerminal" asp-action="Index">Terminais</a>
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="AdminLog" asp-action="Index">Logs</a>
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="AdminComando" asp-action="Index">Comandos</a>
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="AdminPacote" asp-action="Index">Pacotes</a>
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="AdminConfiguracao" asp-action="Index">Configurações</a>
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="Account" asp-action="Register">Usuários</a>
                    <a class="nav-link text-white" asp-area="Admin" asp-controller="AdminLogAuditoria" asp-action="Index">Auditoria</a>
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Operacional</a>
                

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        
                    @await Html.PartialAsync("_RegisterPartial")

                   </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            <a>&copy; 2022 - OrionTM_Web </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
