@model ComandosEnvioViewModel


<div class="container">
    <form asp-action="EnvioPacotesPorLocais">
        <h3>Download de Pacotes por Localidade</h3>
        <table class="table">

            <tr>
                <td>
                    <div><h4>Pacotes</h4></div>
                    <div>
                        <select name="Pacotes_from" id="multiselect" class="form-control" size="5">
                            @foreach (var item in Model.Pacote)
                            {
                                <option value="@item.PacoteId">@item.Nome</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div><h4>Localidades</h4></div>
                    <div>
                        <select name="Locais_from" id="multiselect" class="form-control" size="10" multiple="multiple">
                            @foreach (var item in Model.Locais)
                            {
                                <option value="@item.LocalId">@item.Nome</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check form-switch">

                        <label>Data Instalação:</label>
                        <input type="date" id="birthday" name="DataInstalacao" placeholder="dd/mm/yyyy">

                        <label>Hora Instalaçao:</label>
                        <input type="time" id="birthday" name="HoraInstalacao" placeholder="hh:mm">

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h5>Para instalação imediata não configurar Data e Hora Instalação!!</h5>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <div class="row">
                <div class="col-md-2 offset-md-10">
                    <button type="submit" class="btn btn-warning  btn-sm">Executar</button>
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Voltar</a>
                </div>
            </div>
        </table>
    </form>
</div>
