@model ComandosEnvioViewModel


<div class="container">
    <form asp-action="EnvioPacotesPorTerminais">
        <h3>Download de Pacotes por Equipamento</h3>
        <table class="table">

            <tr>
                <td>
                    <div><h5>Selecione o Pacote</h5></div>
                    <div>
                        <select name="Pacotes_from" id="multiselect" class="form-control" size="6">
                            @foreach (var item in Model.Pacote)
                            {
                                <option value="@item.PacoteId">@item.Nome</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div><h5>Selecione os Terminais</h5></div>
                    <div>
                        <select name="terminais_from" id="multiselect" class="form-control" size="6" multiple="multiple">
                            @foreach (var item in Model.Terminais)
                            {
                                <option value="@item.TerminalId">@item.Codigo</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label><h5>Selecione a Data Instalação:</h5></label>
                        <input type="date" id="birthday" name="DataInstalacao" placeholder="dd/mm/yyyy">
                        <label><h5> e a  Hora Instalação: do Pacote.</h5></label>
                        <input type="time" id="birthday" name="HoraInstalacao" placeholder="hh:mm">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <h6>Para instalação imediata não configurar Data e Hora Instalação!!</h6>
                    </div>
                </td>
            </tr>


        </table>
        <table>
            <div class="row">
                <div class="col-md-2 offset-md-10">
                    <button type="submit" class="btn btn-warning  btn-sm">Executar</button>
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Voltar</a>
                </div>
            </div>
        </table>
    </form>
</div>
