@model ComandosEnvioViewModel


<div class="container">
    <form asp-action="EnvioPorTerminais">
         <h3>Envio de Comandos por Terminais</h3>
        <table class="table">

            <tr>
                <td>
                    <div><h4>Comandos</h4></div>
                    <div>
                        <select name="Comandos_from" id="multiselect" class="form-control" size="5">
                            @foreach (var item in Model.Comandos)
                            {
                                <option value="@item.ComandoId">@item.Nome</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div><h4>Terminais</h4></div>
                    <div>
                        <select name="terminais_from" id="multiselect" class="form-control" size="10" multiple="multiple">
                            @foreach (var item in Model.Terminais)
                            {
                                <option value="@item.TerminalId">@item.Codigo</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <div class="row">
                <div class="col-md-2 offset-md-10">
                    <button type="submit" class="btn btn-warning  btn-sm">Salvar</button>
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Voltar</a>
                </div>
            </div>
        </table>
    </form>
</div>
