@model OrionTM_Web.Models.Configuracao

@{
    ViewData["Title"] = "Create";
}

<h2>Configurações > Incluir</h2>

<div>
    <h3 style="color: red;">@Html.ValidationMessage("Aviso")</h3>
</div>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <table class="table">
        <tr>
            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <div class="form-group">
                    <label asp-for="Campo" class="control-label"></label>
                    <input asp-for="Campo" class="form-control" />
                    <span asp-validation-for="Campo" class="text-danger"></span>
                </div>
            </th>

            <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <div class="form-group">
                    <label asp-for="Valor" class="control-label"></label>
                    <input asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
            </th>
        </tr>
    </table>

            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-primary btn-sm" />
                <a class="btn btn-secondary btn-sm" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

